{% extends "base.html" %}
{% load static %}
{% block projectsactive %} active{% endblock projectsactive %}
{% block title %}Projects{% endblock title %}

{% block body%}
  <div class="container my-3">
    <h2 class="text-center my-3 py-3">My recent projects</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/code.png'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Developer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/light.png'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Enthusiasm</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/city.png'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Adventure</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock body%}